[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-autoslug = "~=1.9.9"
gunicorn = "~=22.0.0"
boto3 = "~=1.34.88"
django-storages = "~=1.14.2"
dj-database-url = "~=2.1.0"
whitenoise = "~=6.6.0"
crispy-bootstrap5 = "~=2024.2"
django-allauth = "~=0.61.1"
django-summernote = "~=0.8.20.0"
django-environ  = "~=0.11.2"
djangorestframework = "~=3.15.1"
django-cors-headers = "~=4.3.1"
djangorestframework-simplejwt = "~=5.3.1"
django-cloudinary-storage = "==0.3.0"
psycopg = "~=3.1.18"
psycopg-binary = "~=3.1.18"
django = "~=5.0.4"
pillow = "~=10.3.0"

[dev-packages]
black = "~=24.4.0"
django-debug-toolbar =  "~=4.3.0"
faker = "~=24.11.0"
coverage = "~=7.4.4"
pytest = "~=8.1.1"
pytest-django = "~=4.8.0"

[requires]
python_version = "3.10"
